html {
    scroll-behavior: smooth;
    cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
  }
body {
    background-color:honeydew;
    color: darkcyan;
    margin: 8 px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h1 {
    font-size: 30pt;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  h3 {
    font-size: 18pt;
    text-align: center;
  }
  P {
    font-size: 12pt;
  }
  div {
    font-size: 12pt;
  }
  article {
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    text-align: left;
  }
  img {
    border-radius: 10px;
    height: 400px;
    width: 300px;
    text-align: center;
  }
  #mainHeading {
    color: red;
  }
  #weddingPic {
    height: 400px;
    width: 560px;
    text-align: center;
  }
  #togetherPic {
    height: 400px;
    width: 500px;
    text-align: center;
  }
  #realPuttuPic {
    clip-path: circle(45%);
  }
  .greenLinks {
    text-align: center;
    font-size: 16pt;
    color: green;
  }
  .funParagraph {
    color: green;
  }